---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import FileMessage from '../components/FileMessage.astro'
import Linkedin from '../Icons/Linkedin.astro';
import Github from '../Icons/Github.astro';
import Mail from '../Icons/Mail.astro';


import ContactPill from '../components/ContactPill.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Portfolio eloice">
	<main>
		<section class="w-[770px] mx-auto py-44">
			
			<div class="flex items-start gap-2.5 py-10">
				<img
						class="rounded-full w-16 h-16"
						src="https://avatars.githubusercontent.com/u/37459666?v=4"
						alt="eloice photo">
				<div class="flex flex-col w-full leading-1.5 p-4 border-gray-200 bg-gray-300  rounded-e-xl rounded-es-xl dark:bg-gray-700">
						<h1 class="text-black dark:text-white text-5xl font-bold flex-col gap-x-4 ">
								Hola, soy Eloi Casamayor 
						</h1>
						<a class="pb-10" href="http://www.linkedin.com/in/eloicasamayor"><Badge>Disponible para trabajar</Badge></a>
					<h2 class="font-normal py-2.5 text-xl text-gray-600 dark:text-white">Con mas de 2 años de experiéncia como desarrollador frontend y +8 como desarrollador en general, estoy especializado en desarrollo frontend con TypeScript y React </h2>
				</div>
			</div>
			<div class="pl-[70px] mb-10">
				<div class="flex flex-col w-full leading-1.5 p-4 border-gray-200 bg-gray-900 rounded-e-xl rounded-es-xl dark:bg-gray-700">
				<h3 class="text-sm font-normal py-2.5 text-l text-gray-600 dark:text-white">Puedes encontrarme en:
				</h3>
					<nav class="flex gap-x-2">
						<ContactPill href="http://www.linkedin.com/in/eloicasamayor">
							<Linkedin class="w-6 h-6"/> Linkedin
						</ContactPill>
						<ContactPill href="http://www.github.com/eloicasamayor">
							<Github  class="w-6 h-6"/> GitHub
						</ContactPill>
						<ContactPill href="mailto:eloi.casamayor@gmail.com">
							<Mail  class="w-6 h-6"/> Correo electrónico
						</ContactPill>
					</nav>
				</div>
			</div>
			
			<div class="pl-[70px] mb-10">
				<div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-900 rounded-e-xl rounded-es-xl dark:bg-gray-700">
					<h3 class="text-sm font-normal py-2.5 text-l text-gray-600 dark:text-white">Puedes descargar mi currículum vitae en:
					<FileMessage />
				</div>
			</div>

			<div class="pl-[70px] mb-10">
				<div class="flex flex-col leading-1.5 p-4 border-gray-200 bg-gray-900 rounded-e-xl rounded-es-xl dark:bg-gray-700">
					<h3 class="text-sm font-normal py-2.5 text-l text-gray-600 dark:text-white">Esta es mi experiencia laboral:
					<Experience />
				</div>
			</div>
   
		</section>
	</main>
</Layout>