---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../icons/Linkedin.astro";
import Github from "../icons/Github.astro";
import Mail from "../icons/Mail.astro";
import Download from "../icons/Download.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactPill from "../components/ContactPill.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import mainImage from "../images/mainImage.png";

const sectionClasses =
  "section pt-12 md:pt-20 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl";
---

<Layout title="Portfolio eloice">
  <Header lang="ca" />
  <main class="px-3 lg:px-4">
    <section id="top" class={sectionClasses}>
      <img
        src={mainImage.src}
        class="rounded-full w-24 h-24border-4 bg-rose-100"
        alt="foto de Eloi Casamayor Esteve"
      />

      <h1>Hola, sóc l'Eloi Casamayor Esteve</h1>
      <a
        class="pb-10 text-center"
        href="http://www.linkedin.com/in/eloicasamayor"
        ><Badge>Disponible per a treballar</Badge></a
      >
      <h2>
        <b class="text-rose-600">8 anys d'experiència</b> com a desenvolupador. Ara
        em dedico al desenvolupament frontend amb <b class="text-rose-600"
          >TypeScript i React</b
        >. Prèviament he desenvolupat amb C# usant Unity.
      </h2>

      <nav class="grid grid-cols-1 md:grid-cols-4 gap-2 sm:grid-cols-2">
        <ContactPill href="http://www.linkedin.com/in/eloicasamayor">
          <Linkedin class="w-6 h-6" /> Linkedin
        </ContactPill>
        <ContactPill href="http://www.github.com/eloicasamayor">
          <Github class="w-6 h-6" /> GitHub
        </ContactPill>
        <ContactPill href="mailto:eloi.casamayor@gmail.com">
          <Mail class="w-6 h-6" /> Correu electrònic
        </ContactPill>
        <ContactPill href="#">
          <Download class="w-5 h-5" /> Currículum Vitae
        </ContactPill>
      </nav>
    </section>
    <section id="experience" class={sectionClasses}>
      <Experience lang="ca" />
    </section>
    <section id="projects" class={sectionClasses}>
      <Projects lang="ca" />
    </section>
  </main>
  <Footer lang="ca" />
</Layout>
