---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import FileMessage from '../components/FileMessage.astro'
import Linkedin from '../icons/Linkedin.astro';
import Github from '../icons/Github.astro';
import Mail from '../icons/Mail.astro';


import ContactPill from '../components/ContactPill.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Portfolio eloice">
	<main>
		<section id="top" class="section pt-16 md:pt-36 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">

			<img
						class="rounded-full w-24 h-24"
						src="https://avatars.githubusercontent.com/u/37459666?v=4"
						alt="eloice photo">
						
			<h1 class="text-black dark:text-white text-5xl font-bold flex-col gap-x-4">
				Hola, soy Eloi Casamayor 
			</h1>
			<a class="pb-10 text-center" href="http://www.linkedin.com/in/eloicasamayor"><Badge>Disponible para trabajar</Badge></a>
			<p class="font-normal py-2.5 text-xl text-gray-600 dark:text-white">
				<b>8 años de experiencia</b> como desarrollador. Ahora me dedico al desarrollo frontend con <b>TypeScript y React</b>. Previamente he desarrollado con C# usando Unity.
			</p>
			
			<nav class="flex gap-x-2">
				<ContactPill href="http://www.linkedin.com/in/eloicasamayor">
					<Linkedin class="w-6 h-6"/> Linkedin
				</ContactPill>
				<ContactPill href="http://www.github.com/eloicasamayor">
					<Github  class="w-6 h-6"/> GitHub
				</ContactPill>
				<ContactPill href="mailto:eloi.casamayor@gmail.com">
					<Mail  class="w-6 h-6"/> Correo electrónico
				</ContactPill>
			</nav>
					
		</section>
		<section id="curriculum" class="section py-8 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
			<h2 class="text-3xl font-bold">Currículum Vitae</h2>
			<FileMessage />
		</section>
		<section id="experiencia" class="section py-8 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
			<Experience />
		</section>
	</main>
</Layout>