---
import SunIcon from "../icons/Sun.astro"
import MoonIcon from "../icons/Moon.astro"

const THEMES = ["light", "dark"]
---

<div class="relative ml-1 mr-1">
  <button
    id="theme-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <span class="sr-only">Canvia el tema</span>
    <SunIcon
      id="light"
      class="theme-toggle-icon size-5 transition-all"
      style="display: none;"
    />
    <MoonIcon
      id="dark"
      class="theme-toggle-icon size-5 transition-all"
      style="display: none;"
    />
  </button>
</div>

<style>
  .theme-toggle-icon {
    display: none;
  }

  .theme-toggle-icon.active {
    display: block;
  }
</style>

<script is:inline>
  const matchMedia = window.matchMedia("(prefers-color-scheme: dark)")
  let currentTheme = localStorage.getItem("theme") || (matchMedia.matches ? "dark" : "light")
  
  const updateIcon = () => {
    document.querySelectorAll(".theme-toggle-icon").forEach((element) => {
      element.style.display = element.id === currentTheme ? "block" : "none";
    });
  }

  const toggleTheme = () => {
    currentTheme = currentTheme === "dark" ? "light" : "dark";
    localStorage.setItem("theme", currentTheme);
    document.documentElement.classList.toggle("dark");
    updateIcon();
  }

  // Initialize theme and icon on load
  document.documentElement.classList.toggle("dark", currentTheme === "dark");
  updateIcon();

  document.getElementById("theme-toggle-btn").addEventListener("click", toggleTheme);
</script>