---
import Layout from "../../layouts/Layout.astro";
import Badge from "../../components/Badge.astro";
import Linkedin from "../../icons/Linkedin.astro";
import Github from "../../icons/Github.astro";
import Mail from "../../icons/Mail.astro";
import Download from "../../icons/Download.astro";

import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import ContactPill from "../../components/ContactPill.astro";
import Experience from "../../components/Experience.astro";
import Projects from "../../components/Projects.astro";
import mainImage from "../../images/mainImage.png";
import SkipLink from "../../components/SkipLink.astro";

const sectionClasses =
  "section pt-12 md:pt-20 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl";
---

<Layout lang="es" title="Portfolio Eloi Casamayor Esteve">
  <SkipLink lang="es" />
  <Header lang="es" />
  <main class="px-3 lg:px-4">
    <section id="top" class={sectionClasses}>
      <img
        src={mainImage.src}
        class="rounded-full w-24 h-24border-4 bg-rose-100"
        alt="foto de Eloi Casamayor Esteve"
      />

      <h1>Hola, soy Eloi Casamayor Esteve</h1>
      <Badge>Disponible para trabajar</Badge>
      <h2>
        <b class="text-rose-600">8 años de experiencia</b> como desarrollador. Ahora
        me dedico al desarrollo frontend con <b class="text-rose-600"
          >TypeScript y React</b
        >. Previamente he desarrollado con C# usando Unity.
      </h2>

      <nav class="grid grid-cols-1 md:grid-cols-4 gap-2 sm:grid-cols-2">
        <ContactPill href="http://www.linkedin.com/in/eloicasamayor">
          <Linkedin class="w-6 h-6" /> Linkedin
        </ContactPill>
        <ContactPill href="http://www.github.com/eloicasamayor">
          <Github class="w-6 h-6" /> GitHub
        </ContactPill>
        <ContactPill href="mailto:eloi.casamayor@gmail.com">
          <Mail class="w-6 h-6" /> Correo electrónico
        </ContactPill>
        <ContactPill href="#">
          <Download class="w-5 h-5" /> Currículum Vitae
        </ContactPill>
      </nav>
    </section>
    <section id="experience" class={sectionClasses}>
      <Experience lang="es" />
    </section>
    <section id="projects" class={sectionClasses}>
      <Projects lang="es" />
    </section>
  </main>
  <Footer lang="es" />
</Layout>
