---
import Layout from '../../layouts/Layout.astro';
import Badge from '../../components/Badge.astro';
import FileMessage from '../../components/FileMessage.astro'
import Linkedin from '../../icons/Linkedin.astro';
import Github from '../../icons/Github.astro';
import Mail from '../../icons/Mail.astro';
import Download from '../../icons/Download.astro'

import Header from '../../components/Header.astro';
import ContactPill from '../../components/ContactPill.astro';
import Experience from '../../components/Experience.astro';
import Projects from '../../components/Projects.astro';
import mainImage from '../../images/mainImage.png'
import Image from 'astro/components/Image.astro';

const sectionClasses = "section pt-12 md:pt-20 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
---
<Layout title="Portfolio eloice">
	<Header lang='es'></Header>
	<main class="px-3 lg:px-4">
		<section id="top" class={sectionClasses}>

			<img
				src={mainImage.src}
				class="rounded-full w-24 h-24border-4 bg-rose-100"
				alt="foto de Eloi Casamayor">
						
			<h1 class="text-black dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex-col gap-x-4">
				Hola, sóc l'Eloi Casamayor 
			</h1>
			<a class="pb-10 text-center" href="http://www.linkedin.com/in/eloicasamayor"><Badge>Disponible para trabajar</Badge></a>
			<h2 class="font-normal py-2.5 text-xl text-gray-600 dark:text-white">
				<b class="text-rose-600">8 años de experiencia</b> como desarrollador. Ahora me dedico al desarrollo frontend con <b class="text-rose-600">TypeScript y React</b>. Previamente he desarrollado con C# usando Unity.
			</h2>
			
			<nav class="flex gap-x-2">
				<ContactPill href="http://www.linkedin.com/in/eloicasamayor">
					<Linkedin class="w-6 h-6"/> Linkedin
				</ContactPill>
				<ContactPill href="http://www.github.com/eloicasamayor">
					<Github  class="w-6 h-6"/> GitHub
				</ContactPill>
				<ContactPill href="mailto:eloi.casamayor@gmail.com">
					<Mail  class="w-6 h-6"/> Correo electrónico
				</ContactPill>
				<ContactPill href="#">
					<Download  class="w-6 h-6"/> Currículum Vitae
				</ContactPill>
			</nav>
					
		</section>
		<section id="experience" class={sectionClasses}>
			<Experience lang='es' />
		</section>
		<section id="projects" class={sectionClasses}>
			<Projects lang='es'/>
		</section>
	</main>
	</Footer lang='es'>
</Layout>