---
import '@fontsource-variable/onest';

interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-zinc-100 dark:bg-zinc-900 text-black dark:text-white">
		<Header />
		<slot />
		<Footer />
	</body>

</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
	}

	body {
	}
	
	a {
	}


	@media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
	}
	
	@media (prefers-color-scheme: dark) {
		body {
			/* background-color: black; */
			/*color: rgba(255, 255, 255, 0.9);*/
		}
	}
</style>
